<!DOCTYPE html>
<html lang="en">

<%- include('./partials/offerhead.ejs') %>

<body>
   
  <%- include('./partials/offerheader.ejs') %>


  <% if (user.role === 'admin') { %>
    <div class="user-account">
        <header class="header"><b>Welcome  </b><%= user.name %> !</header>
        <section class="content">
            <h5 style="text-align: center;"><span class="text-primary"> Logged-In
            </span>as:  <%= user.role %> </h5>
        
            <a href="<%= user.links %>"><h3
                style="color: rgb(63, 210, 63);">View All Projects </h3></a>
            <p>You can track each project progress after its launch.</p>
                            
        </section>
        <aside class="sidebar text-primary">
    
          <h3>Admin Profile</h3>
          <div>
            <ul>
                <li><a href="#" class="user-profile">Manage Project Offers</a></li><br>
                <li><a href="#" class="user-profile">Manage Users</a></li><br>
                <li><a href="#" class="user-profile">Manage Bookings</a></li>
                <li><a href="#" class="user-profile">Manage Reviews</a></li>
                <li><a href="#" class="user-profile">Upload Photo</a></li>
              </ul>
          </div>
            
        </aside>
        <footer class="footer"> 
          <div class="box-1">
            <div class="form-wrap">
                <h1>Update</h1>
                <p>You can change your details as below :</p>
                <form action="/api/v1/users/resetPassword" method="post"> 
                  
                  <div class="form-group form-control">
                    <label for="name">Name of Administrator</label>
                    <input type="text" name="name"  class="select-design"
                    value="<%= user.name %>" required>                         
                  </div>
  
                  <div class="form-group form-control">
                    <!-- <label for="email">Same Email</label> -->
                    <input type="email" name="email"  class="select-design"
                      value="<%= user.email %>" hidden/>
  
  
                 <div class="form-group form-control">
                        <label for="password">New Password</label>
                        <input type="password" name="password"  class="select-design"
                          value="<%= user.password %>" required/>     
                      </div>
                      <div class="form-group form-control">
                        <label for="passwordConfirm">Confirm Password</label>
                        <input type="password" name="passwordConfirm"  class="select-design"
                        value="<%= user.passwordConfirm %>" required/>
                      </div>
                  <button type="submit" class="btn">Update Now</button> 
                </form>
              </div>
          </div>
  
        
        </p></footer>
  </div>
     <% } else { %>
        <div class="user-account">
            <header class="header"><b>Welcome  </b> <%= user.name %> !</header>
            <section class="content">
                <h5 style="text-align: center;"><span class="text-primary userId">Project-Name
                </span>(s): 
                <% if (user.company && user.company2) { %>
            
                    <a href="<%= user.links %>"><h3
                      style="color: rgb(127, 219, 97);"><%= user.company %></h3></a>
                  
                    <a href="<%= user.link2 %>"><h3
                      style="color: rgb(117, 214, 117);"><%= user.company2 %></h3></a>
                    
                    <p>You can track the progress after project launch.</p>
                
                   <% } else if(user.company){ %>
                    <%= user.company %>  
                    <a href="<%= user.links %>"><h3
                      style="color: rgb(63, 210, 63);">View Project Progress</h3></a>
                  <p>You can track the progress after project launch.</p>      
              <% }  %> 

                 </h5> 
                
               
                                
            </section>
            <aside class="sidebar ">
              <div class="form-wrap">
                <h1>View All Project Informations</h1>
                
                <form id="userPhoto" action="/api/v1/offers" method="get"> 
                <div class="form-group form-control"> 
                  <div class="form-group form-control">                        
                  </div>
                  <button type="submit" class="btn">View With Photos</button> 
                </form>
              </div>
              
            </aside> 
            
            <div class="box-2">
              <h3>Quotes</h3>
              <ul>
                <li class="user-profile" style="color: rgb(63, 245, 65);">
                    " Your work is going to fill a large part of your life, and the only way 
                    to be truly satisfied is to do what you believe is great work.And the only 
                    way to do great work is to love what you do." by Steve Jobs.</li>
              </ul> 
            </div>
    
            <div class="box-3">
              <div class="form-wrap">
                <h1>Change To Another Project</h1>
                <p>You can only change to another project before "Project Launch":</p>
                <form action="/api/v1/users/<%= user._id %>" method="post">  
                  <div class="form-group form-control">
                    <!-- <input type="text" name="id"  class="select-design" id="userId"
                    value="<%= user._id %>" hidden/> -->

                    <label for="company">Choose Project Name</label>
                    <select id="company" name="company" 
                    class="select-design" required>
                    
                      <option value="Responsive Web App">Responsive Web App</option>
                      <option value="Responsive Website">Responsive Website</option>
                      <option value="Customized Web App">Customized Web App</option>
                      <option value="Premium Web App">Premium Web App</option>
                      <option value="Content Delivery Web App">Content Delivery Web App</option>
                      <option value="App Downloads">App Downloads</option>
                  </select>
                 </div>
                  <button type="submit" class="btn">Book Another Project</button> 
                </form>
              </div>
            </div>  
            
            <footer class="footer">
              <div class="form-wrap">
                <h1>Add New Project</h1>
                <p>You can increase the number of projects you want developed:</p>
                <form action="/api/v1/users/<%= user._id %>" method="post">  
                  <div class="form-group form-control">
                    <!-- <input type="text" name="id"  class="select-design" id="userId"
                    value="<%= user._id %>" hidden/> -->

                    <label for="company2">Select New Project</label>
                    <select id="company2" name="company2" 
                    class="select-design" required>
                    
                      <option value="Responsive Web App">Responsive Web App</option>
                      <option value="Responsive Website">Responsive Website</option>
                      <option value="Customized Web App">Customized Web App</option>
                      <option value="Premium Web App">Premium Web App</option>
                      <option value="Content Delivery Web App">Content Delivery Web App</option>
                      <option value="App Downloads">App Downloads</option>
                  </select>
                 </div>
                  <button type="submit" class="btn">Add New Project</button> 
                </form>
              </div>
            </footer> 
       </div> 
       
<% }  %> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.3/axios.min.js"></script>
    <!-- <script src="/js/updatephoto.js"></script> -->
    
    <!-- Footer -->
    <%- include('./partials/offerfooter.ejs') %>
</body>
</html>